
 /*ARRANGE PHOTOS*/

 section ul {
     list-style: none;
 }

 .arrangePhoto li p {
     float: right;
     margin: 5px 5% 50px 0;
 }

 .arrangePhoto img {
    text-align: left;
     margin: 0 auto 10px;
 }

 .workDescription h4 {
     padding: 0 0 0 10px;
 }

 .workDescription p {
     padding: 0 15px;
     text-align: left;
 }

 .arrangePhoto li {
     margin: 0 30px 0 0;
 }